/* GENERAL STYLING */

body {
    background-image:url("images/blue_music_bckgrnd.jpg");
    background-size: cover;
    color: white;
    font-size: larger;
}

header {
    text-align: center;
}

div.navbar {
    padding-bottom: 20px;
    padding-top: 10px;
}

a.navLink {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.2em;
}

footer {
    display: flex;
}

p.foot {
    flex: 1;
    text-align: center;
}

p.foot a {
    color: lime;
}


/* HOMEPAGE STYLING */

section.index {
    padding-top: 20px;
     margin-left:5%;
    margin-right:5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.homeImage {
    display: flex;
    margin: auto;
    justify-content: center;
}

img#bluesArt {
    width: 500px;
}

div.homePara {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}



/* 404 ERROR PAGE STYLING */

section.error {
    padding-top: 20px;
}

h3.errorPara {
    text-align: center;
}



/* ABOUT PAGE STYLING */

section.about {
    text-align: center;
    margin-left:5%;
    margin-right:5%;
    margin-top: 2%;
    margin-bottom: 2%;
}


div.bios {
    display: flex;
}
div.Nicky {
    flex: 1

}
img#Nickpic {
    width: 40%;
}

div.Katherine {
    flex: 1;
}

div.Mia {
    flex: 1;
}
img#miaPic {
    width: 56%;
}






                            /* SOURCE PAGE */


section.source {
     margin-left:5%;
    margin-right:5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

section.source h2 {
    text-align: center;
}

div.sourcetop {
    
}

p.source {
    
}

p.source a {
    color: lime;
}

div.sourceimg {
    /*display:flex;*/
    justify-content:right;
    display: flex;
    margin: auto;
    
}

img#source {
    width: 45%;
}



