/* GENERAL STYLING */

body {
    background-image: url("images/blue_music_bckgrnd.jpg");
    background-size: cover;
    color: white;
    font-size: larger;
    font-family: 'New Tegomin', serif;
}

header {
    text-align: center;
}

div.navbar {
    padding-bottom: 20px;
    padding-top: 10px;
}

a.navLink {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.2em;
    color: lime;
}

footer {
    display: flex;
}

p.foot {
    flex: 1;
    text-align: center;
}

p.foot a {
    color: lime;
}

a {
    color: lime;
}


/* HOMEPAGE STYLING */

section.index {
    padding-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.homeImage {
    display: flex;
    margin: auto;
    justify-content: center;
}

img#bluesArt {
    width: 500px;
}

div.homePara {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}



/* 404 ERROR PAGE STYLING */

section.error {
    padding-top: 20px;
}

h3.errorPara {
    text-align: center;
}

div.error {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-left: 20%;
    padding-right: 20%;
}

img#error {
    flex: 1;
    width: 50%;
}


/* ABOUT PAGE STYLING */

section.about {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}


div.bios {
    display: flex;
}
div.Nicky {
    flex: 1

}
img#Nickpic {
    width: 40%;
    border-radius: 25px;
}

div.Katherine {
    flex: 1;
}

div.Mia {
    flex: 1;
}
img#miaPic {
    width: 56%;
    border-radius: 25px;
}






/* SOURCE PAGE */


section.source {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

section.source h2 {
    text-align: center;
}

div.sourcetop {
   
}

div.noteBckgrnd {
    background-image: url(images/stencil_artist.jpg);
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius:30px;
    opacity: .7;
    background-position: 10% 10%
}

p.source {

}

p.note {
    padding-right: 40%
}

p.source a {
    color: lime;
}

div.sourceimg {
    /*display:flex;*/
    justify-content: right;
    display: flex;
    margin: auto;

}

img#source {
    width: 50%;
    border-radius: 35px;
    opacity: .75;
    flex-shrink: 1;
}




/* ANALYSIS PAGE */


section.analysis {
    margin: 10px;
}

div.analysis {
    margin: 15px;
}

h2.analysis {
    text-align: center;
}

div.imgTextWrap {
    display: flex;
    flex-wrap: wrap;

}

div.analysisImg {
    /*display:flex;*/
    justify-content: right;
    position: relative;
    flex: 2;
    display: contents;
}

img.analyimg {
    max-width: 40%;
    height: 30%;
    border-radius: 30px;
    padding-left: 10px;
}

div.method {
    margin: 15px;
}

h3.method {
    text-indent: 3em;
    font-weight: bold;
}

div.analysisText {
    flex: 1;
    position: relative;
}

p.method {
    text-indent: 2em;

}

ul.methodInfo {

}
