/* GENERAL STYLING */

body {
    background-image: url("images/blue_music_bckgrnd.jpg");
    background-size: cover;
    color: white;
    font-size: larger;
    font-family: 'New Tegomin', serif;
}

body.contain {
    background-image: url("images/blue_music_bckgrnd.jpg");
    background-size: contain;
    color: white;
    font-size: larger;
    font-family: 'New Tegomin', serif;

}

a {
    color: #ffe300;
    text-shadow: 1px 1px black;
    transition: .3s;
}

a:hover {
    color:lime;
    text-shadow:1.5px 1.5px black;
}

header {
    text-align: center;
}

header h1 {
    margin-top: 0px;
    text-shadow: 2px 2px black;
}

h1, h2, h3, h4 {
    text-shadow: 2px 2px black;
}

div.navbar {
    padding-bottom: 20px;
    padding-top: 10px;
}

a.navLink {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.2em;
    color: #ffe300;
    text-shadow: 1px 1px black;
    transition:.3s;
}

a.navLink:hover {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.2em;
    color:lime;
    text-shadow:1.5px 1.5px black;
}


footer {
    display: flex;
}

p.foot {
    flex: 1;
    text-align: center;
}


/*a {
    color: lime;
}
*/

/* HOMEPAGE STYLING */

section.index {
    padding-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
   
}

div.index {
       background-color: hsla(0, 0%, 0%, 0.4);
    border-radius:25px;
   padding-left: 25px;
   /*  
padding-right: 25px;
padding-top: 5px;
padding-bottom: 5px;*/
}

div.homeImage {
    display: flex;
    margin: auto;
    justify-content: center;
    
}

figure {
    position:relative;
}

figcaption.imgSource {
    text-align:right;
    font-size:small;
    position:absolute;
     bottom: 8px;
  left: 16px;
}

img#bluesArt {
    width: 50vw;
    object-fit:contain;
}

div.homePara {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}

div.cytoText h3{
    text-align:center;
}

h2.index {
    text-indent: 2em;
  
}

div.research {
    padding-left: 3%;
    padding-right:3%;
    padding-top: 1%;
    padding-bottom: 1%;
}

p.research {
    padding-bottom: 1%;
}

li.research {
    line-height: 2em;
}




/* 404 ERROR PAGE STYLING */

section.error {
    padding-top: 20px;
}

h3.errorPara {
    text-align: center;
}

div.error {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-left: 20%;
    padding-right: 20%;
}

img#error {
    flex: 1;
    width: 50%;
}


/* ABOUT PAGE STYLING */

section.about {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}


div.bios {
    display: flex;
}
div.Nicky {
    flex: 1

}
img#Nickpic {
    width: 40%;
    border-radius: 25px;
}

div.Katherine {
    flex: 1;
}

div.Mia {
    flex: 1;
}
img#miaPic {
    width: 56%;
    border-radius: 25px;
}






/* SOURCE PAGE */


section.source {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

section.source h2 {
    text-align: center;
}

div.sourcetop {
   
}

div.noteBckgrnd {
    background-image: url(images/stencil_artist.jpg);
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius:30px;
    opacity: .7;
    /*background-position: 10% 10%*/
    background-position: -160% top;
}



p.source {
    text-indent: 2em;
    background-color: hsla(0, 0%, 0%, 0.4);
    border-radius:25px;
    padding-left: 25px;
padding-right: 25px;
padding-top: 5px;
padding-bottom: 5px;
}

p.note {
    padding-right: 40%;
   
}

/*p.source a {
    color: lime;
}*/

div.sourceimg {
    /*display:flex;*/
    justify-content: right;
    display: flex;
    margin: auto;

}

img#source {
    width: 50%;
    border-radius: 35px;
    opacity: .75;
    flex-shrink: 1;
}

div.sourceSVG {
    background-color: black;
border-radius: 25px;
margin: 1%;
opacity:.75;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-self:center;
}

div.sourceSVG h2 {
    font-size:1.5em;
    padding-top: 1%;
}

div.SVGcontain {
    display:flex;
    justify-content:center;
}




                        /* ANALYSIS PAGE */


section.analysis {
    margin: 10px;
}

div.analysis {
    margin: 15px;
}

h2.analysis {
    text-align: center;
}

div.imgTextWrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;

}

div.text {
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    flex:2;
  
}

div.xqueryText {
    background-color: hsla(0, 0%, 0%, 0.4);
    border-radius:25px;
    padding-left: 15px;
padding-right: 15px;
padding-top: 2px;
padding-bottom: 2px;
margin-top:5px;
}

div.analysisImg {
    /*display:flex;*/
    justify-content: right;
    position: relative;
    flex: 2;
    display: contents;
}

img.analyimg {
    width: 40%;
    min-height: 70vh;
    max-height: 75vh;
    border-radius: 30px;
    padding-left: 10px;
}

div.method {
    margin: 15px;
}

h3.method {
    text-indent: 3em;
    font-weight: bold;
}

div.analysisText {
    flex: 1;
    position: relative;
    background-color: hsla(0, 0%, 0%, 0.4);
    border-radius:15px;
    padding-left: 15px;
padding-right: 25px;
padding-top: 2px;
padding-bottom: 2px;
margin-bottom:5px;
}

div.spacyText {
       background-color: hsla(0, 0%, 0%, 0.4);
    border-radius:25px;
    padding-left: 15px;
padding-right: 15px;
padding-top: 2px;
padding-bottom: 2px;
margin-top:15px;
}

p.method {
    text-indent: 2em;

}

ul.methodInfo {

}

div.networkDesc {
    background-color: hsla(0, 0%, 0%, 0.4);
    border-radius:25px;
    padding-left: 25px;
padding-right: 25px;
padding-top: 5px;
padding-bottom: 5px;
}

div.graphText {
    background-color: hsla(0, 0%, 0%, 0.4);
    border-radius:25px;
    padding-left: 25px;
padding-right: 25px;
padding-top: 5px;
padding-bottom: 5px;
margin-top:5px;
}



            /* GRAPHS STYLING */

embed.decGraph {
    width: 20vw;
    object-fit:contain;
    transition: .4s;
}

embed.decGraph:hover {
    width: 30vw;
}

embed.collec {
    width:40vw;
}

div.spacySVG {
    display: flex;
    flex-direction: column;
    justify-content: space-around;;
    /*align-items: center;*/
    margin:auto;
}

figure.ent {
    width:50vw;
}

div.decSect {
    display:flex;
    flex-direction:column;
   justify-content: space-around;
    align-items: center;
    /*margin:auto;*/
}

div.row1 {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
    /*padding-right: 5%;
    padding-left:5%;*/
    padding-top:1%;
    padding-bottom:1%;
}

div.row {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
    /*padding-right: 5%;
    padding-left:5%;*/
    padding-top:1%;
    padding-bottom:1%;
    flex-wrap:wrap;
}

div.row figure {
    margin:auto;
}

figcaption {
    text-align:center;
}

figcaption a {
    text-decoration:none;
    transition: .3s;
}

figcaption a:hover {
    color: lime;
    text-decoration:underline;
}

div.graphDesc {
    background-color: hsla(0, 0%, 0%, 0.4);
    border-radius:25px;
    padding-left: 25px;
padding-right: 25px;
padding-top: 5px;
padding-bottom: 5px;
}

div.graphDesc p {
    text-indent: 2em;
    
}



                    /* CYTOSCAPE */
               
 #cy {
     width: 65vw;
     height:70vh;
     position:absolute;
     /*background-color:white;*/
     display:flex;
     margin:auto;
     border-style:double;
     
 }
 
 h4.cytoTitle {
     text-align:center;
 }

div.graphics {
    display:flex;
   
    height:75vh;
    justify-content:center;
}


#cy2 {
     width: 80vw;
     height:70vh;
     position:absolute;
     /*background-color:white;*/
     display:flex;
     margin:auto;
     border-style:double;
     
}


div.networkDesc p{
    text-indent: 2em;
}

span.artists {
    color:aqua;
}

span.songwrit {
    color:lightpink
}

span.songs {
    color:red;
}

span.tradit {
    color:aquamarine;
}

p.center {
    text-align:center;
    margin: 0;
}

div.cytoText {
    margin-top:4%;
}

div.sourceCytoTxt {
    text-align:center;
    margin-top: 3%;
}


